version: '3'
services:
  app:
    networks:
      nginx-deploy:
        aliases:
          - ${PROJECT_NAME}_${ENV}
    volumes:
      - nginx-deploy:/deploy
volumes:
  nginx-deploy:
    external: true
networks:
  nginx-deploy:
    external: true